@{ 
    ViewBag.Title = "用户管理";
}

<link href="~/Content/bootstrap-table.min.css" />
<h3>用户管理</h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
                <div class="table-container">
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script>
        $(function () {
            Init();
        })

        function Init() {
            debugger;
            $("#table").bootstrapTable({
                url: "/Admin/SysUser/Search",
                dataField: "Rows",
                search: true,
                pagination: true,
                pageSize: 10,
                pageList: [5, 10, 50, 100],
                sidePagination: "server",
                contentType: "application/json",
                dataType: "json",
                method: "post",
                searchAlign: "left",
                queryParamsType: "limit",
                queryParams: function getParams(params) {
                    return {
                        PageSize: params.limit,
                        PageIndex: (params.offset / params.limit) + 1,
                        Order: params.order,
                        Sort: params.sort,
                        Search: params.search
                    };
                },
                searchOnEnterKey: false,
                showRefresh: true,
                showColumns: true,
                buttonsAlign: "left",
                toolbar: "#toolbar",
                toolbarAlign: "right",
                columns: [
                    {
                        title: "全选",
                        field: "select",
                        checkbox: true,
                        width: 20,
                        align: "center",
                        valign:"middle"
                    },
                    {
                        field:"Name",
                        title: "用户名",
                        sortable: true,
                        titleTooltip:"用户名"
                    },
                    {
                        field: 'operator',
                        title: "操作",
                        align: "",
                        valign: "",
                        formatter: function (value, row, index) {
                            return `<a href="#" data-toggle="modal" title="设置角色">
                                        <i class="glyphicon glyphicon-wrench"></i>
                                    </a>
                                    <a href="#editProject" data-goggle="modal" title="修改">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="删除">
                                        <i class="glyphicon glyphicon-trash text-danger"></i>
                                    </a>
                            `;
                        }
                    }
                ]
            })
        }

    </script>
}